<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Create an account</h1>
    <!-- POST to "/accounts/?target=/", with operation="create" -->
    <form action="{{ url_for('accounts_operation') }}?target={{ url_for('show_index') }}" method="post"
        enctype="multipart/form-data">
        <input type="hidden" name="operation" value="create" />
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </p>
        <p>
            <label for="name">Full Name:</label>
            <input type="name" id="name" name="name" required />
        </p>
        <input type="submit" value="Sign Up" />
    </form>
</body>

</html>