<!DOCTYPE html>
<html lang="en">
<head>
    <title> insta485 </title>
</head>
<body>
    <a href="/"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Instagram Logo" height="100" width="175"/> </a>  
    Insta 485
    <a href="/explore/"> Explore </a>
    <a href="/users/{{ logname }}/"> {{ logname }} </a>
    <hr/>

    <h1>Discover People</h1>
    {% for person in not_following %}
    <a href="/users/{{ person.username }}/">
        <img src="{{ person.filename }}" alt="profile picture"> {{ person.username }}
    </a>
    {% endfor %}

</body>
</html>
