<!DOCTYPE html>
<html lang="en">
<head>
    <title> insta485 </title>
</head>
<body>
    <a href="/"> <img src="/images/logo.png" alt="Instagram Logo" height="100" width="175"/> </a>  
    Insta 485
    <a href="/explore/"> Explore </a>
    <a href="/users/{{ logname }}/"> {{ logname }} </a>
    <hr/>

    <h1> Followers </h1>
    {% for follower in followers %}
        <p>
            <a href="/users/{{ follower.username }}/">
                <img src="{{ follower.user_img_url }}" alt="profile picture"> {{ follower.username }}
                {% if follower.logname_follows_username %} 
                    following 
                {% elif not follower.logname_follows_username and not follower.username == logname %}
                    not following
                {% endif %}
            </a>
        </p>
    {% endfor %}
</body>
</html>