<!DOCTYPE html>
<html lang="en">
<head>
    <title> insta485 </title>
</head>
<body>
    <a href="/"> <img src="/images/logo.png" alt="Instagram Logo" height="100" width="175"/> </a>  
    Insta 485
    <a href="/explore/"> Explore </a>
    <a href="/users/{{ logname }}/"> {{ logname }} </a>
    <hr/>

    <!-- post -->
    {% for post in posts %}
    <div class="photo">
        <a href="/users/{{ post.owner }}/">
        <img src="{{ post.owner_img_url }}" height="50" width="50" alt="profile picture"/>
         {{ post.owner }} </a>
        <a href="/posts/{{ post.postid }}/"> {{ post.timestamp }} </a>
        <br/>
        <img src="{{ post.img_url }}" alt="post image"/>

        {% if post.likes == 1%}
            <p> {{ post.likes }} like </p>
        {% else %}
            <p> {{ post.likes }} likes </p>
        {% endif %}
        
        {% for comment in post.comments %}
            <p> <a href="/users/{{ comment.owner }}/"><strong> {{ comment.owner }} </strong></a> {{ comment.text }} </p>
        {% endfor %}
    </div>

    <form action="<FIXME_LIKES_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="like"/>
        <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
        <input type="submit" name="like" value="like"/>
    </form>

    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <!-- <form action="<FIXME_LIKES_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="unlike"/>
        <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
        <input type="submit" name="unlike" value="unlike"/>
    </form> -->

        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="<FIXME_COMMENTS_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="create"/>
        <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
        <input type="text" name="text" required/>
        <input type="submit" name="comment" value="comment"/>
    </form>
    {% endfor %}
</body>
</html>
