<!DOCTYPE html>
<html lang="en">
<head>
    <title> insta485 </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Instagram Logo" height="100" width="175"/> </a>  
    Insta 485
    <a href="/explore/"> Explore </a>
    <a href="/users/{{ logname }}/"> {{ logname }} </a>
    <hr/>

    <div class="photo">
        <a href="/users/{{ post.owner }}/">
        <img src="{{ owner_img_url }}" height="50" width="50" alt="profile picture"/>
         {{ post.owner }} </a>
        <a href="/posts/{{ post.postid }}/"> {{ post.created }} </a>
        <br/>
        <img src="{{ post.filename }}" alt="post image"/>

        {% if likes == 1 %}
            <p> {{ likes }} like </p>
        {% else %}
            <p> {{ likes }} likes </p>
        {% endif %}
        
        {% for comment in comments %}
            <p> <a href="/users/{{ comment.owner }}/"><strong> {{ comment.owner }} </strong></a> {{ comment.text }} </p>
            {% if comment.owner == logname %}
                <!-- delete button -->
                <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="commentid" value="<FIXME_COMMENT_ID_HERE>"/>
                    <input type="submit" name="uncomment" value="delete"/>
                </form>
            {% endif %}
        {% endfor %}

        <!-- like/unlike button -->
        {% if like_status %}
            <!-- unlike button -->
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="</likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="unlike"/>
                <input type="hidden" name="postid" value="{{ post.postid }}"/>
                <input type="submit" name="unlike" value="unlike"/>
            </form>
        {% else %}
            <!-- like button -->
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="like"/>
                <input type="hidden" name="postid" value="{{ post.postid }}"/>
                <input type="submit" name="like" value="like"/>
            </form>    
        {% endif %}

        <!-- comment button  -->
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="create"/>
            <input type="hidden" name="postid" value="{{ post.postid }}"/>
            <input type="text" name="text" required/>
            <input type="submit" name="comment" value="comment"/>
        </form>


        {% if logname == post.owner %}
            <form action="</posts/>?target=/user/{{ logname }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="delete"/>
                <input type="hidden" name="postid" value="{{ post.postid }}"/>
                <input type="submit" name="delete" value="delete this post"/>
            </form>
        {% endif %}
    </div>
</body>
</html>
